<div class="task-list">
  <table>
    <thead>
    <tr>
      <th> Title</th>
      <th> Description</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each task-list as |task|}}
      <tr class="{{task.priority}}">
        <td class="{{if task.isCompleted "task-comleted" ""}}">
          {{task.title}}
        </td>
        <td {{action "dropDownClick" on click }} class="relative td-dropdown {{if task.isCompleted "task-comleted" ""}}">
          <div class="td-dropdown-text">{{task.description}}</div>
          <div class="dropdown-pane">
            {{task.description}}
          </div>
        </td>
        <td class="text-right">
          {{#if task.isCompleted}}
            <button {{action "reopenTask" task.id}} type="button" class="success button tiny">Reopen</button>
          {{else}}
            <button {{action "closeTask" task.id}} type="button" class="button tiny">Close</button>
          {{/if}}
          <button {{action "deleteTask" task.id}} type="button" class="alert  button tiny">Delete</button>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  {{yield}}
</div>

